{{#link-to 'stop' stop.id class="list-item"}}
  <span {{action 'toggleFavorite' stop bubbles=false}} class="list-item__button button--fav">
    {{bd-icon (if isFavorite 'heart' 'heart-o')}}
  </span>
  <h1 class="list-item__title">{{stop.name}} <small>{{stop.direction}}</small></h1>
  <div class="list-item__details">
    {{#each stop.routes as |route|}}
      {{bd-route-tag route=route}}
    {{/each}}
  </div>
{{/link-to}}
