<div class="action-banner action-banner--fixed-top">
  {{#link-to 'stops' class="button button--return"}}
    <i class="bd-icon bd-icon--arrow-left"></i>
  {{/link-to}}

  <h1 class="detail-header__title"> {{stopId}} </h1>
</div>

{{#if isLoading}}
  <p class="text-center">Loading stops...</p>
{{else if sortedArrivals}}
  <ol class="timeline">
    {{#each sortedArrivals as |arrival|}}
      {{bd-arrival arrival=arrival}}
    {{/each}}
  </ol>
{{else}}
  <p class="light soft-sides">There are no arrivals for stop {{stopId}}</p>
{{/if}}
