{{google-map
  lat=model.latitude
  lng=model.longitude
  zoom=18
  gopt_zoomControl=false
  markers=markers
  class="map-header"}}

<div class="action-banner">
  {{#link-to 'stops.search' title="back" class="bd-button button--return"}}
    <i class="bd-icon bd-icon--arrow-left"></i>
  {{/link-to}}
  {{bd-toggle-favorite stop=model class="bd-button button--fav"}}
</div>

<div class="detail-header">
  <h1 class="detail-header__title">{{model.name}}</h1>
  <div class="detail-header__details">
    {{#each model.routes as |route|}}
      {{bd-route-tag route=route}}
    {{/each}}
  </div>
</div>

{{outlet}}
