{{bd-map lat=model.latitude lng=model.longitude shapes=shapes}}

<div class="action-banner">
  {{bd-back-button}}
  {{ link-to "" "application" class="button button--home" }}
  {{bd-toggle-favorite stop=model class="button button--fav"}}
</div>

<div class="detail-header">
  <h1 class="detail-header__title qa-stop-name">{{model.name}}</h1>
  <div class="detail-header__details">
    {{#each model.routes as |route|}}
      {{bd-route-tag route=route}}
    {{/each}}
  </div>
</div>

{{bd-departures stop=model onLoad="departuresDidLoad"}}

<div class="attribution">
  <p>&copy; OpenStreetMap contributors, CC-BY-SA, Tiles courtesy of Humanitarian OpenStreetMap Team</p>
</div>
