{{google-map
  lat=model.latitude
  lng=model.longitude
  zoom=16
  gopt_zoomControl=false
  markers=markers
  gopt_mapTypeId=google.maps.MapTypeId.ROADMAP
  gopt_disableDefaultUI=true
  class="map-header"}}

<div class="action-banner">
  <a {{action 'goBack'}} href="" title="back" class="button button--return">
    <i class="bd-icon bd-icon--arrow-left"></i>
  </a>
  {{bd-toggle-favorite stop=model class="button button--fav"}}
</div>

<div class="detail-header">
  <h1 class="detail-header__title">{{model.name}}</h1>
  <div class="detail-header__details">
    {{#each model.routes as |route|}}
      {{bd-route-tag route=route}}
    {{/each}}
  </div>
</div>

{{outlet}}
