{{bd-map
  lat=model.latitude
  lng=model.longitude
  zoom=16
  class="map-header"}}

<div class="action-banner">
  <a {{action 'goBack'}} href="" title="back" class="button button--return">
    <i class="bd-icon bd-icon--arrow-left"></i>
  </a>
  {{bd-toggle-favorite stop=model class="button button--fav"}}
</div>

<div class="detail-header">
  <h1 class="detail-header__title qa-stop-name">{{model.name}}</h1>
  <div class="detail-header__details">
    {{#each model.routes as |route|}}
      {{bd-route-tag route=route}}
    {{/each}}
  </div>
</div>

{{outlet}}

<div class="attribution">
  <p>&copy; OpenStreetMap contributors, CC-BY-SA, Tiles courtesy of Humanitarian OpenStreetMap Team</p>
</div>
